{% extends "base.html" %}
{% load staticfiles %}

{%block content%}
    <h1>COCKPIT</h1>
<link rel="stylesheet" href="{% static 'pump.css' %}" />
    <div style="float: right;" id="status"></div>

    <input id="gps" name="gps" type="text" value="000000">
    <button onclick="asy('set_gps/' + document.getElementById('gps').value)">ENTER GPS COORDS</button><a href="{% url 'i3:itinerary' %}"><button>Itinerary</button></a>

    <div>
OXYGEN PUMP


<div id="volumebar">
  <div id="volume"></div>
</div>
<div id="display"></div>
<div id="indicator">0</div>
<div id="target" class="bar"></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src = "{% static 'pump.js' %}"></script>
    </div>
    <button onclick="asy('move_fuel')">MOVE FUEL TO ENGINE ROOM</button>
{%endblock%}