{% extends "base.html" %}
{% load staticfiles %}

{%block content%}
    <link rel="stylesheet" href="{% static 'ftl_crank.css' %}" />
    ENGINE
    <div>Cooling:
        <!-- Rectangular switch -->
        <label class="switch" onclick="asy('cooling_switch')">
          <input type="checkbox">
          <span class="slider"></span>
        </label>
    </div>

    <div>

    <div id="controlbar"></div>
    <div id="volumebar">
    <div id="volume"></div>
        </div>
    <div id="display"><img src="https://image.ibb.co/ktNgTF/volume.png" alt="volume" border="0" id="icon" /></div>
    <div id="indicator">0</div>
    <div id="target" class="bar" style="width: 45px; height: 150px; margin: 0 auto;"></div>
<script src="{% static 'ftl_crank.js' %}"></script>
    </div>

    <div style="float: right;" id="status"></div>
{%endblock%}