{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>{% block title %}Isolated Intergalactic Incident  {% endblock %}</title>
</head>

<body style="background-image:url( {% static 'space1.jpeg' %});  background-size: 1920px 1080px;
    background-repeat: no-repeat;">
    <div id="header" class="center">
        {% block sidebar %}
        <h1>I3</h1>
        {% endblock %}
    </div>

    <div id="content" class="center">
        {% block content %}{% endblock %}
    </div>
</body>
</html>